In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('data.csv')

In [11]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

# Find the number of the columns in the data frame

In [3]:
num_columns = df.shape[1]

In [4]:
num_columns

12

#Find the mean of the house prices

In [5]:
mean_price = df['price'].mean()

In [6]:
mean_price

234144.26395939087

# Find the median of the house prices

In [7]:
median_price = df['price'].median()

In [8]:
median_price

213750.0

# Find the different types of property in the dataset

In [9]:
property_types = df['type'].unique()

In [10]:
property_types

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

# Find the maximum price of a "condo" in the dataset

In [12]:
max_condo_price = df[df['type'] == 'Condo']['price'].max()

In [13]:
max_condo_price

360000

# Find the mean of each type of property in the dataset

In [14]:
mean_property_types = df.groupby('type')['price'].mean()

In [15]:
mean_property_types

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

#Find the count of different property types in dataset

In [16]:
count_property_types = df['type'].value_counts()

In [17]:
count_property_types

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64